<!-- Google Fonts Link -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
<!-- CSS Link -->
<link rel="stylesheet" href="css/profile.css">

{{#if logged_in}}

<!-- Main Body -->
<main>
  <!-- Nav Bar -->
  <nav class="main-nav">
    <ul>
      <li>enDEVors</li>
      <li><a href="/homepage">home</a></li>
      <li><a href="/profile">profile</a></li>
      <li><a href="/services">services</a></li>
      <li><a href="/quote_form">quotes</a></li>
    </ul>
  </nav>
  <header>
    <h1>Edit Profile</h1>
  </header>
  <!-- "Glass" Background -->
  <div class="glass-bg">
    <form id="update-profile-form">
      <section class="profile-name">
        <div>
          <label for="inputFirstName" class="form-label">First Name</label>
          <input type="text" class="form-control" id="inputFirstName" value="{{ serializedUserData.firstName }}">
        </div>
        <div>
          <label for="inputLastName" class="form-label">Last Name</label>
          <input type="text" class="form-control" id="inputLastName" value="{{ serializedUserData.lastName }}">
        </div>
      </section>
      <section class="company-address">
        <div>
          <label for="inputCompanyName" class="form-label">Company Name</label>
          <input type="text" class="form-control" id="inputCompanyName" value="{{ serializedUserData.companyName }}">
        </div>
        <div>
          <label for="inputAddress" class="form-label">Address</label>
          <input type="text" class="form-control" id="inputAddress" value="{{ serializedUserData.address }}">
        </div>
      </section>
      <section class="city-info">
        <div>
          <label for="inputCity" class="form-label">City</label>
          <input type="text" class="form-control" id="inputCity" value="{{ serializedUserData.city }}">
        </div>
        <div>
          <label for="inputState" class="form-label">State</label>
          <input type="text" class="form-control" id="inputState" value="{{ serializedUserData.state }}">
        </div>
        <div>
          <label for="inputZip" class="form-label">zip Code</label>
          <input type="text" class="form-control" id="inputZip" value="{{ serializedUserData.zip }}">
        </div>
      </section>
      <section class="contact-info">
        <div>
          <label for="inputEmail" class="form-label">Email</label>
          <input type="text" class="form-control" id="inputEmail" value="{{ serializedUserData.email }}" disabled>
        </div>
        <div>
          <label for="inputPhone" class="form-label">Phone#</label>
          <input type="text" class="form-control" id="inputPhone" value="{{ serializedUserData.phone }}">
        </div>
      </section>
      <div class="btn-style">
        <button type="submit" class="update-btn">Update</button>
      </div>
    </form>
    <div>
</main>
<script src="js/profile.js"></script>

{{else}}
<p>Please log in to view your profile.</p>
{{/if}}