<!-- Google Fonts Link -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
<!-- CSS Link -->
<link rel="stylesheet" href="/css/quote-file.css">

<!-- Main Body -->
<main>
        <!-- Developer Info -->
        <header>
                <h1>{{project_title}} Test Quote</h1>
                <div class="admin-numbers">
                        <p>Nº{{quote_id}}</p>
                        <p id="current-date">Aug. 23, 2023</p>
                </div>
        </header>

        <!-- Quote Items -->
        <section class="service-box">
                <div class="service-sections">
                        <div class="qty">
                                <h3>Qty</h3>
                                <div>
                                        {{#each quote_items as |quote_item|}}
                                        {{> quote_service_qty}}
                                        {{/each}}
                                </div>
                        </div>
                        <div class="service">
                                <h3>Service</h3>
                                <div>
                                        {{#each quote_items as |quote_item|}}
                                        {{> quote_service_item}}
                                        {{/each}}
                                </div>
                        </div>
                        <div class="price">
                                <h3>Price</h3>
                                <div>
                                        {{#each quote_items as |quote_item|}}
                                        {{> quote_service_price}}
                                        {{/each}}
                                </div>
                        </div>
                </div>
                <div>
                        <h3>Total:</h3>
                        <h3>{{totalPrice}}$200.00</h3>
                </div>
                </div>
        </section>

        <!-- Notes -->
        <section>
                <h2>Notes:</h2>
                <p>{{notes}}This is a note.</p>
        </section>
        <div></div>

        <!-- Client Signature -->
        <section>
                <h2>Signature:</h2>
                <div>
                        <div>
                                <h4>Name:</h4>
                                <!-- Sign Line -->
                                <div></div>
                        </div>
                        <div>
                                <h4>Date:</h4>
                                <!-- Date Line -->
                                <div></div>
                        </div>
                </div>
        </section>

        <div class="split-container">
                <div class="split"></div>
        </div>

        <section class="contact">
                <div>
                        <!-- Client Info -->
                        <div class="client">
                                <p>{{client_first}}First {{client_last}}Last
                                        <br>
                                        {{client_address}}123 Main St {{client_address_2}}Ste 123
                                        <br>
                                        {{client_city}}Main, {{client_state}}CA {{client_zip}}12345
                                </p>
                        </div>
                        <!-- Developer Info -->
                        <div class="developer">
                                <p>{{userFirst}}First {{userLast}}Last
                                        <br>
                                        {{userEmail}}test@email.com
                                        <br>
                                        {{userPhone}}1234567890
                                </p>
                        </div>
                </div>

                <!-- Job Info -->
                <div class="job">
                        <p class="due-date">Estimated Completion: {{project_due_date}}09/14/2023</p>
                        <p class="thanks">Thank you!</p>
                </div>
        </section>

        <!-- Download -->
        <div class="btn-container">
                <button id="download">Download</button>
        </div>

</main>

<!-- JS Link -->
<script src="/js/quote-file.js"></script>