<!-- Google Fonts Link -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
<!-- CSS Link -->
<link rel="stylesheet" href="/css/quote-file.css">
<!-- DayJS Link -->
<script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.6/dayjs.min.js"></script>

<!-- Main Body -->
<main>
        <!-- Developer Info -->
        <header>
                <h1>{{project_title}}</h1>
                <div class="admin-numbers">
                        <p class="quote-num">Nº{{quote_id}}</p>
                        <p id="current-date"></p>
                </div>
        </header>

        <!-- Quote Items -->
        <section class="service-box">
                <div class="service-sections">
                        <div class="service">
                                <h2>Service</h2>
                                <div class="quote-item">
                                        {{#each quote_items as |quote_item|}}
                                        {{> quote_item_name}}
                                        {{/each}}
                                </div>
                        </div>
                        <div class="qty">
                                <h2>Qty</h2>
                                <div class="quote-item">
                                        {{#each quote_items as |quote_item|}}
                                        {{> quote_item_qty}}
                                        {{/each}}
                                </div>
                        </div>
                        <div class="price">
                                <h2>Price</h2>
                                <div class="quote-item">
                                        {{#each quote_items as |quote_item|}}
                                        {{> quote_item_subtotal}}
                                        {{/each}}
                                </div>
                        </div>
                </div>
                <div class="total">
                        <h3>Total:</h3>
                        <p>{{totalPrice}}</p>
                </div>
        </section>

        <!-- Notes -->
        <section class="notes">
                <p>{{notes}}</p>
        </section>

        <!-- Client Signature -->
        <section class="signature">
                <div class="sig-name">
                        <!-- Sign Line -->
                        <div class="sign-line"></div>
                        <h4>Signature</h4>
                </div>
                <div class="sig-date">
                        <!-- Date Line -->
                        <div class="date-line"></div>
                        <h4>Date</h4>
                </div>
        </section>

        <div class="split-container">
                <div class="split"></div>
        </div>

        <section class="footing">
                <div class="contact">
                        <!-- Client Info -->
                        <div class="client">
                                <p><b>{{client_first}} {{client_last}}</b>
                                        <br>
                                        {{client_address}} {{client_address_2}}
                                        <br>
                                        {{client_city}} {{client_state}} {{client_zip}}
                                </p>
                        </div>
                        <!-- Developer Info -->
                        <div class="developer">
                                <p><b>{{userFirst}} {{userLast}}</b>
                                        <br>
                                        {{userEmail}}
                                        <br>
                                        {{userPhone}}
                                </p>
                        </div>
                </div>

                <!-- Job Info -->
                <div class="job">
                        <p class="due-date">Estimated Completion: {{project_due_date}}</p>
                        <p class="thanks"><b>Thank you!</b></p>
                </div>
        </section>

        <!-- Download -->
        <div class="btn-container">
                <button id="download">Download</button>
        </div>
</main>

<!-- JS Link -->
<script src="/js/quote-file.js"></script>