<link rel="stylesheet" href="/css/quote-file.css">

<main>
        <!-- Developer Info -->
        <header>
                <h1>{{project_title}} Quote</h1>
                <ul>
                        <li>{{userFirst}} {{userLast}}</li>
                        <li>{{userEmail}}</li>
                        <li>{{userPhone}}</li>
                </ul>
        </header>
        <div></div>
        <section class="contact">
                <!-- Client Info -->
                <div class="client">
                        <h2>Client:</h2>
                        <ul>
                                <li>{{client_first}} {{client_last}}</li>
                                <li>{{client_address}} {{client_address_2}}</li>
                                <li>{{client_city}}, {{client_state}} {{client_zip}}</li>
                        </ul>
                </div>
                <!-- Job Info -->
                <div class="job">
                        <h2>Job:</h2>
                        <ul>
                                <li>{{project_title}}</li>
                                <li>Estimated Completion: {{project_due_date}}</li>
                        </ul>
                </div>
        </section>
        <div></div>
        <!-- Quote Items -->
        <section>
                <h2>Services:</h2>
                <div class="service-box">
                        <div>
                                <h3>Qty</h3>
                                <h3>Services</h3>
                                <h3>Price</h3>
                        </div>
                        {{#each quote_items as |quote_item|}}
                        {{> quote_service_items}}
                        {{/each}}
                        <div>
                                <h3>Total:</h3>
                                <h3>{{totalPrice}}</h3>
                        </div>
                </div>
        </section>
        <!-- Notes -->
        <section>
                <h2>Notes:</h2>
                <p>{{notes}}</p>
        </section>
        <div></div>
        <!-- Client Signature -->
        <section>
                <h2>Signature:</h2>
                <div>
                        <div>
                                <h4>Name:</h4>
                                <!-- Sign Line -->
                                <div></div>
                        </div>
                        <div>
                                <h4>Date:</h4>
                                <!-- Date Line -->
                                <div></div>
                        </div>
                </div>
        </section>
        <div>
                <button onclick="window.print()">Download</button>
        </div>
</main>

<!-- JS Link -->
<script src="/js/quote-test.js"></script>